fastapi
uvicorn[standard]
sqlalchemy # database
databases[aiosqlite] # database
python-dotenv # env
rich    # log formatter
asgi-correlation-id # correlation request-id
python-json-logger # json log file